.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    color:orange !important;
    background-color:orange !important;
}

#flex-container {
    // styles
    @media (max-width:500px) {
        flex-direction: column;
    }
}




.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: beige;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}

#fpimg {
    height: 250px;
//    position: relative;
    img {
        position: absolute;
        height: 350px;
        width: 350px;
        top:0;
        @media (max-width:800px) {
            left: 50%;
            top: 25%;
            transform: translate(-50%, -50%);
            height: 250px;
        width: 250px;
        }
    }   
}

//#meeting_form{
    // @media (max-width:800px) {
    //     left: 10%;
    //     top: 20%;
    //     transform: translate(-50%, -50%);
    //     width: 40px;
    // }
//}

#loginform {
    margin-top: -125px;
    @media (max-width:800px) {
        padding-top: 200px;
    }
}
 
    #pdfPreview{
        border-color: black;
}
// #knap1 {
// background-color: blue;
// }
// #knap2{
//     background-color: green;
// }
// #knap3{
//     background-color: red;
// }

// .knap {
// text-shadow: none !important;
// }
// .nodecor {
//     text-decoration: none !important;
// }
// .hidden {
//     display: none !important;
// }


// #hej {

//     tr {
//         background-color: black;
//         td {
//             &:nth-child(1) {

//             }
//             &:nth-child(2) {

//             }
//         }
//         &:nth-child(1) {
//             background-color: green !important;

//         }
//         &:nth-child(2) {
//             background-color: pink;

//         }
//     }

// }